<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
    <title>My-Campaign</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="resourses/screen.css" type="text/css"/>
</h:head>
<h:body>
    <div id="container">
        <div id="header">
            <h:form>
                <h:selectOneMenu value="#{localeManager.language}" onchange="submit()">
                    <f:selectItem itemValue="en" itemLabel="English" />
                    <f:selectItem itemValue="de" itemLabel="German" />
                    <f:selectItem itemValue="uk" itemLabel="Українська" />
                </h:selectOneMenu>
            </h:form>
            <p>Sample Application <b>My-Campaign</b> – Tutorial Java EE 7</p>
        </div>
        <div id="content">
            <ui:insert name="content">
                [Template content will be inserted here]
            </ui:insert>
        </div>
        <div id="footer">
            <p> (C) 2015-2016  Schiesser/Schmollinger, MIT License</p>
        </div>
    </div>
</h:body>
</html>
