<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<body>
<f:view contracts="#{view.locale.language}" locale="#{localeManager.locale}">
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h1>#{msg['welcome.title']}</h1>
            <h:link value="список кампаний"   outcome="listCampaigns.jsf" />

            </ui:define>
    </ui:composition>
</f:view>
</body>
</html>
