<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view contracts="#{view.locale.language}" locale="#{localeManager.locale}">
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <h:panelGrid columns="3">
                    <f:facet name="header">
                        Name, Surname, Birthday
                    </f:facet>
                    <h:outputLabel value="Name"
                                   style="color:rebeccapurple;
                    font-family: Inconsolata" />
                    <h:inputText id="user_name"
                                 value="#{user.account.name}"
                                 validatorMessage="min - 4, max - 20characters of letters and digits">
                        <f:passThroughAttribute name="placeholder"
                                                value="type your name, please"/>
                        <f:validateRequired/>
                        <f:validateLength minimum="4" maximum="20"/>
                    </h:inputText>
                    <h:message for="user_name" style="color:red"/>

                    <h:outputLabel value="Surname" />
                    <h:inputText id="user_surname"
                                 value="#{user.account.nameOfBank}"
                                 validatorMessage="min - 4, max - 20characters of letters and digits">
                        <f:passThroughAttribute name="placeholder"
                                                value="type your surname, please"/>
                        <f:validateRequired/>
                        <f:validateLength minimum="4" maximum="20"/>
                    </h:inputText>
                    <h:message for="user_surname" style="color:red"/>

                    <h:outputLabel value="Date" />
                    <h:inputText id="user_birthday"
                                 value="#{user.account.iban}"
                                 validatorMessage="type correct date, please">
                        <f:passThroughAttribute name="placeholder"
                                                value="type your birtday date, please"/>
                        <f:validateRequired/>
                        <f:validateRegex pattern="[0-9]{2}/[0-9]{2]/[0-9]{4}"/>
                    </h:inputText>
                    <h:message for="user_birthday" style="color:red"/>

                </h:panelGrid>
                <h:commandButton value="#{msg['editCampaign.save']}"
                                 action="#{editCampaignController.doSave}" />
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
